<form>
    <div class="form-group">
        <div class="row">
            <div class="col-2">
                <label for="exampleFormControlInput1">Enter your User-name</label>
            </div>
            <div class="col-4">    
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="sunshine" ([ngModel])="name">
            </div>
            <div class="col-2">    
                <button class="btn btn-primary" (click)="search()">Go</button>
            </div>
        </div>
        <div class="row">
            <div class="col-4 out">
                <h6>Here is your avatar based on your user name</h6>
                <img class="img-static" src="assets/user.webp" />
            </div>
            <div class="col-4 out"> 
                <h6>Create your own avatar from an image</h6>
                <img class="img-static" src="assets/up.jpg" />
            </div>
            <div class="col-4 out"> 
                <h6>Tell us how you want your avatar to be and we will create it for you</h6>
                <textarea class="form-control textarea" id="exampleFormControlTextarea1" rows="5"></textarea>
            </div>
        </div>

    </div>
</form>
