.card-text{
    color: #888;
    font-size: 10px;
}
.d-icon{
    border-radius: 10px 0px 0px 10px;
}
.full-btn{
    width: 100%;
}
.form-check{
    padding: 0px 30px;
    margin-bottom: 15px;
    font-size: 13px;
}