<form>
    <div class="form-group">
        <div class="row">
            <div class="col-12 tag">
                <a>Prompt</a>
                <a>What do you want to generate</a>
                <a>Variation</a>
                <a>Number of variations</a>
                <a>Generate</a>
            </div>
        </div>
        <div class="row">
            <div class="col-4 out">
                <img class="img-static" src="assets/user.webp" />
            </div>
            <div class="col-4 out">
                <img class="img-static" src="assets/user.webp" />
            </div>
            <div class="col-4 out">
                <img class="img-static" src="assets/user.webp" />
            </div>
        </div>

    </div>
</form>
