.img-static{
    width: 80%;
}
.out{
    margin-top: 20px;
    padding: 25px;
}
.textarea{
    border: 1px solid #324996;
}
.tag{
    text-align: center;
    a{
        border: 1px solid #666;
        padding: 5px;
        margin: 10px;
        border-radius: 6px;
        font-size: 14px;
    }
}